PORT=3000
ENTORNO=desarrollo
NOTIFICACIONES_API_URL=https://jsonplaceholder.typicode.com/posts
NOTIFICACIONES_API_KEY=pescar_sec_token_998877
CRON_EXPIRACION=*/30 * * * *
TZ=America/Argentina/Buenos_Aires
JWT_SECRET=odontoturno_cambiar_en_produccion
JWT_EXPIRES_IN=8h
ADMIN_EMAIL=admin@odontoturno.com
ADMIN_PASSWORD=admin123
ADMIN_NOMBRE=Administrador OdontoTurno
